:root {
  --beige: #F3EED9;
  --brown: #824936;
  --dark: #222C2A;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark);
}

img {
  max-width: 100%;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  line-height: 1;
  margin-top: 0;
}

.section {
  padding: 5em 0;
}

.container {
  padding: 1em;
  margin: 0 auto;
  max-width: 1128px;
}

.section__title {
  font-size: 2.25rem;
  color: var(--beige);
}

.section__title--dark {
  color: var(--brown);
  text-align: center;
}

.hero {
  background: var(--beige);
  text-align: center;
  min-height: 660px;
  display: flex;
  align-items: center;
}

.hero__title {
  font-size: 3rem;
  color: var(--brown);
}

.hero__subtitle {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.125rem;
}

.section:nth-child(3) {
  background: var(--dark);
  color: #fff;
}

.section:nth-child(4) {
  background: var(--brown);
  color: #fff;
}

@media (min-width: 600px) {
  .row {
    display: flex;
  }

  .col {
    width: 100%;
  }

  .col + .col {
    margin-left: 5em;
  }

  .hero__title {
    font-size: 3.75rem;
  }
}
